@media (min-width: 64em) {
    html {
        font-size: 62.5%;
    }

    .menu-mobile-button,
    .menu-mobile-container {
        display: none;
    }

    .add-button:hover {
        background-color: var(--accent-cyan);
        box-shadow: 0 0 8px var(--accent-cyan);
        transition: box-shadow 0.2s;
    }

    .todo-ul li {
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding: 0.6rem 0.8rem;
        border-radius: 1rem;

        &:hover {
            background-color: var(--surface-3);

            & .buttons-li-container {
                transition: opacity 0.3s;
                opacity: 1;
            }
        }
    }

    .buttons-li-container {
        display: flex;
        margin-right: 0.6rem;

        height: 4rem;
        width: fit-content;
        padding: 0.1rem 0.5rem;

        opacity: 0;
    }

    .button-li {
        display: flex;
        padding: 1rem 0.8rem 0.6rem 0.8rem;
        align-self: center;

        font-size: 1.8rem;
        font-weight: 600;
        color: var(--text-primary);

        background-color: var(--surface-1);
        border-radius: 2rem;

        cursor: pointer;

        &.li-delete {
            border: 2px solid var(--danger);
            &:hover {
                background-color: var(--danger);
                box-shadow: 0 0 10px var(--danger);
            }
        }
    }
}
