@media (min-width: 48em) {
    html {
        font-size: 56.25%;
    }

    .container-input-button {
        flex-direction: row;

        & input[name='main-input'] {
            flex: 1 1 0;
        }

        & button.add-button {
            flex-shrink: 0;
        }
    }
}
